body {
  background: #fff;
  color: #000;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
