@mixin warning {
  background-color: orange;
  color: #fff;
}
@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}
@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}
@mixin radius($borderradius...) {
  border-radius: $borderradius;
  -moz-border-radius: $borderradius;
  -webkit-border-radius: $borderradius;
}
@mixin button {
  outline: none;
  padding: 8px 2.1875rem;
  border: none;
  font-weight: bold;
  font-size: 13px;
  height: 33px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 135px;
  display: flex;
  justify-content: center;
  @include radius(5px);
  align-items: center;
  &:hover {
    border: none;
    background-color: lighten($primary-color, 10%);
  }
  cursor: pointer;
}
@mixin btn-outline {
  border: solid 1px $primarybtn-color !important;
  background-color: transparent;
  color: $primarybtn-color;
}
@mixin thm-card {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  @include radius(6px);
  overflow: hidden;
  padding: rem(20px) rem(25px);
}
@mixin img-gridhead {
  position: absolute;
  z-index: 999;
  width: 100%;
  font-size: 1rem;
  background-color: $lighttext-color;
  @include radius(5px 5px 0 0);
  font-weight: bold;
  padding: 0.8125rem 1.875rem 0.8125rem;
  @extend .primary-font;
}
@mixin img-gbody {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin transition {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@mixin cardshadow {
  box-shadow: -1px 2px 6px 8px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: -1px 2px 6px 8px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: -1px 2px 6px 8px rgba(0, 0, 0, 0.02);
}
@mixin cardshadow-invert {
  box-shadow: -1px 0rem 1rem 0px rgba(44, 51, 73, 0.06) !important;
  -moz-box-shadow: -1px 0rem 1rem 0px rgba(44, 51, 73, 0.06) !important;
  -webkit-box-shadow: -1px 0rem 1rem 0px rgba(44, 51, 73, 0.06) !important;
  border: solid 1px rgba(220, 220, 220, 0.341176) !important;
}
@mixin rounded {
  @include radius(50%);
}
@mixin forn-input {
  border: none;
  border-bottom: solid 2px $bordergrey-color;
  padding: 10px 0px;
  height: 2.75rem;
  font-size: rem(18px);
  &::placeholder {
    color: ($primarytextdark-color, 0.9);
    font-size: rem(15px);
  }
}
@mixin transition {
  transition: all ease-out 0.4s;
}

//px to rem conversion
@function rem($pixels, $context: $base-font-size) {
  @return ($pixels / $context) * 1rem;
}

// border-separator
@mixin border-separator-style1 {
  border-right: 1px rgba(204, 204, 204, 0.47) solid;
}

//code form sept 10/2020
@mixin clg-card {
  background-color: #fff;
  @include radius(6px);
  overflow: hidden;
  padding: rem(10px) rem(10px);
}
