$base-font-size: 14px;

// === COLORS ===
$bg-color: #ffffff;
$primary-color: #0F255F;
$primary-color-hover: #536DFE;
$primarytext-color: #041131;
$grey-color: #9facbb;
$secondarytext-color: #ffffff;
$errortext-color: #a72121;

